div .pie {
  margin: 10px;
  padding: 1px;
  color: white;
  font-family: RobotoFlex;
  font-weight: bolder; }

* {
  margin: 0;
  padding: auto; }

@font-face {
  font-family: RobotoFlex;
  src: url(../font/RobotoFlex-VariableFont_GRAD\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf); }

body {
  background-color: #231526; }

div h1 {
  margin: 0;
  padding: 0;
  color: white;
  font-weight: bold;
  text-align: center;
  font-family: RobotoFlex; }

div h2 {
  margin: 1px;
  padding: 5px;
  color: white;
  text-decoration: underline; }

div .subtitulo {
  font-size: 2rem; }

div .h3 {
  border: solid black 2px;
  background-color: #E26350;
  margin: 2px;
  padding: 5px;
  color: black; }

div h2 {
  margin: 1px;
  padding: 5px;
  color: white;
  text-decoration: underline; }

.p {
  font-family: Helvetica;
  font-weight: bold;
  background-color: #E26350;
  color: black;
  margin: 5px;
  padding: 5px;
  border: 2px solid black; }

.preguntas {
  background-color: #E26350;
  margin: 10px;
  padding: 0px;
  font-family: RobotoFlex;
  font-weight: bold;
  color: black; }

.L {
  list-style: none;
  margin: 0px;
  padding: 5px;
  border-top: 1px solid black; }

.blanco {
  color: white; }

.naranja {
  color: #E26350; }

.cajas {
  background-color: #3A263A; }

.bgc {
  background-color: #3A263A; }

.imagen {
  margin: 1px;
  padding: 6px; }

.menu li {
  display: flex;
  flex-direction: column;
  font-family: RobotoFlex;
  font-size: 13px;
  font-weight: bold;
  font-style: italic;
  display: inline;
  padding: 0px;
  margin: 0px;
  border: 2px solid black;
  background-color: yellow; }

font {
  color: blue; }

.vinculos {
  width: 200px;
  height: 600px;
  padding: 10px; }

.logo {
  position: relative;
  width: 70px;
  height: 70px; }

.padre {
  display: flex;
  flex-direction: row;
  background-color: #3A263A; }

.BoxModel {
  list-style: none;
  margin: 5px;
  padding: 5px;
  border: 2px black solid;
  font-family: RobotoFlex;
  font-weight: bold;
  font-style: italic;
  background-color: #E26350; }

.tabla {
  padding: 3px;
  margin: 0px;
  border: black 2px solid;
  font-family: RobotoFlex;
  font-weight: bold;
  background-color: #E26350; }

.Formulario {
  font-family: RobotoFlex;
  font-weight: 1000;
  margin: 3px;
  padding: 1px; }

.Pie {
  margin: 10px;
  padding: 1px;
  color: white;
  font-family: RobotoFlex;
  font-weight: bolder; }

.parrafo {
  font-family: RobotoFlex;
  font-weight: bold; }

.bodyContacto {
  background-image: url(../img/soporte-tecnico.png); }

.fondo {
  background-color: white; }

.ingreso {
  font-family: RobotoFlex;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  color: white; }

@media screen and (max-width: 577px) {
  .padre {
    display: flex;
    flex-direction: column; }
  .vinculos {
    width: 800px;
    height: 600px;
    padding: 10px; }
  .naveg {
    background-color: #231526; }
  .navegB {
    background-color: #E26350; }
  .vinculos {
    width: 800px;
    height: 600px;
    padding: 10px; }
  .subtitulo {
    font-size: 20px; } }

@media screen and (max-width: 768px) {
  .padre {
    display: flex;
    flex-direction: column;
    background-color: #231526; }
  .naveg {
    background-color: #231526; }
  .navegB {
    background-color: #E26350; }
  .vinculos {
    width: 800px;
    height: 600px;
    padding: 10px; }
  .subtitulo {
    font-size: 19px; } }
