$color_principal: #231526;
$color_secundario: #3A263A;
$color_blanco: white;
$fondo_texto: #E26350;
$color_naranja: #E26350;
$colores-redes:(Discord:#404EED,Twitch:#A970FF,Whatsapp:#3CC050);
$Colores-oscuros: (primary:rgb(8, 0, 0),text:#21252B);
